# RS232 Configuration
NET "txd" LOC = "AE7";
NET "txd" IOSTANDARD = LVCMOS25;
NET "txd" DRIVE = 8;
NET "txd" SLEW = SLOW;

NET "rxd" LOC = "AJ8";
NET "rxd" IOSTANDARD = LVCMOS25;


# Switch Configuration
NET "rst" LOC = "AC11";


NET "rst" IOSTANDARD = LVCMOS25;

# push buttons stuff
NET "pb0" LOC = "AG5"; #PB_ENTER
NET "pb1" LOC = "AH4";    #PB_UP
NET "pb2" LOC = "AG3";  #PB_DOWN
NET "pb3" LOC = "AH1";  #PB_LEFT
NET "pb4" LOC = "AH2"; #PB_RIGHT

NET "pb0" IOSTANDARD = LVCMOS25;
NET "pb1" IOSTANDARD = LVCMOS25;
NET "pb2" IOSTANDARD = LVCMOS25;
NET "pb3" IOSTANDARD = LVCMOS25;
NET "pb4" IOSTANDARD = LVCMOS25;

# switch stuff
NET "eq0" LOC = "AD11";
NET "eq1" LOC = "AF8";
NET "eq2" LOC = "AF9";

NET "eq0" IOSTANDARD = LVCMOS25;
NET "eq1" IOSTANDARD = LVCMOS25;
NET "eq2" IOSTANDARD = LVCMOS25;


# Clock Configuration
NET "clk" LOC = "AJ15";
NET "clk" IOSTANDARD = LVCMOS25;
NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 10.00 ns HIGH 50 %;


## PINOUT AND IO DRIVE CHARACTERISTICS FOR THE AUDIO PROCESSING
## SECTION OF THE XUP-V2PRO DEVELOPMENT SYSTEM
## REVISION C PRINTED CIRCUIT BOARD DEC 8 2004
NET "sdata_out" LOC = "E8";
NET "sync" LOC = "F7";
NET "bit_clk" LOC = "F8";
NET "audio_reset" LOC = "E6";
NET "sdata_out" IOSTANDARD = LVCMOS25;
NET "sync" IOSTANDARD = LVCMOS25;
NET "bit_clk" IOSTANDARD = LVCMOS25;
NET "audio_reset" IOSTANDARD = LVCMOS25;
NET "sdata_out" DRIVE = 8;
NET "sync" DRIVE = 8;
NET "audio_reset" DRIVE = 8;
NET "sdata_out" SLEW = SLOW;
NET "sync" SLEW = SLOW;
NET "audio_reset" SLEW = SLOW;

# VGA LOGIC
NET "vsync" LOC = "D11";
NET "hsync" LOC = "B8";
NET "blank" LOC = "A8";
NET "comp_sync" LOC = "G12";
NET "vgaclk" LOC = "H12";

NET "vsync" IOSTANDARD = LVCMOS25;
NET "hsync" IOSTANDARD = LVCMOS25;
NET "blank" IOSTANDARD = LVCMOS25;
NET "vgaclk" IOSTANDARD = LVCMOS25;
NET "comp_sync" IOSTANDARD = LVCMOS25;

NET "vsync" DRIVE = 12;
NET "hsync" DRIVE = 12;
NET "blank" DRIVE = 6;
NET "comp_sync" DRIVE = 6;
NET "vgaclk" DRIVE = 6;

NET "vsync" SLEW = SLOW;
NET "hsync" SLEW = SLOW;
NET "blank" SLEW = SLOW;
NET "comp_sync" SLEW = SLOW;
NET "vgaclk" SLEW = SLOW;

NET "pixel_r[7]" LOC = "H10";
NET "pixel_r[6]" LOC = "C7";
NET "pixel_r[5]" LOC = "D7";
NET "pixel_r[4]" LOC = "F10";
NET "pixel_r[3]" LOC = "F9";
NET "pixel_r[2]" LOC = "G9";
NET "pixel_r[1]" LOC = "H9";
NET "pixel_r[0]" LOC = "G8";

NET "pixel_g[7]" LOC = "E11";
NET "pixel_g[6]" LOC = "G11";
NET "pixel_g[5]" LOC = "H11";
NET "pixel_g[4]" LOC = "C8";
NET "pixel_g[3]" LOC = "D8";
NET "pixel_g[2]" LOC = "D10";
NET "pixel_g[1]" LOC = "E10";
NET "pixel_g[0]" LOC = "G10";

NET "pixel_b[7]" LOC = "E14";
NET "pixel_b[6]" LOC = "D14";
NET "pixel_b[5]" LOC = "D13";
NET "pixel_b[4]" LOC = "C13";
NET "pixel_b[3]" LOC = "J15";
NET "pixel_b[2]" LOC = "H15";
NET "pixel_b[1]" LOC = "E15";
NET "pixel_b[0]" LOC = "D15";

NET "pixel_*" IOSTANDARD = LVCMOS25;
NET "pixel_*" SLEW = SLOW;
NET "pixel_*" DRIVE = 6;

INST DCM_INST CLK_FEEDBACK = 1X;
INST DCM_INST CLKDV_DIVIDE = 4.0;
INST DCM_INST CLKFX_DIVIDE = 20;
INST DCM_INST CLKFX_MULTIPLY = 13;
INST DCM_INST CLKIN_DIVIDE_BY_2 = FALSE;
INST DCM_INST CLKIN_PERIOD = 10.000;
INST DCM_INST CLKOUT_PHASE_SHIFT = NONE;
INST DCM_INST DESKEW_ADJUST = SYSTEM_SYNCHRONOUS;
INST DCM_INST DFS_FREQUENCY_MODE = LOW;
INST DCM_INST DLL_FREQUENCY_MODE = LOW;
INST DCM_INST DUTY_CYCLE_CORRECTION = TRUE;
INST DCM_INST FACTORY_JF = C080;
INST DCM_INST PHASE_SHIFT = 0;
INST DCM_INST STARTUP_WAIT = FALSE;

