# CF ACE INTERFACE
NET "MPD[0]" LOC = "AE15";
NET "MPD[1]" LOC = "AD15";
NET "MPD[2]" LOC = "AG14";
NET "MPD[3]" LOC = "AF14";
NET "MPD[4]" LOC = "AE14";
NET "MPD[5]" LOC = "AD14";
NET "MPD[6]" LOC = "AC15";
NET "MPD[7]" LOC = "AB15";
NET "MPD[8]" LOC = "AJ9";
NET "MPD[9]" LOC = "AH9";
NET "MPD[10]" LOC = "AE10";
NET "MPD[11]" LOC = "AE9";
NET "MPD[12]" LOC = "AD12";
NET "MPD[13]" LOC = "AC12";
NET "MPD[14]" LOC = "AG10";
NET "MPD[15]" LOC = "AF10";

NET "MPD[*]" IOSTANDARD = "LVCMOS25";
NET "MPD[*]" DRIVE = 8;
NET "MPD[*]" SLEW = SLOW;

NET "MPA[0]" LOC = "AF21";
NET "MPA[1]" LOC = "AG21";
NET "MPA[2]" LOC = "AC19";
NET "MPA[3]" LOC = "AD19";
NET "MPA[4]" LOC = "AE22";
NET "MPA[5]" LOC = "AE21";
NET "MPA[6]" LOC = "AH22";

NET "MPA[*]" IOSTANDARD = "LVCMOS25";
NET "MPA[*]" DRIVE = 8;
NET "MPA[*]" SLEW = SLOW;

NET "MPBRDY" LOC = "AD16";
NET "MPIRQ" LOC = "AE16";
NET "MPCE" LOC = "AB16";
NET "MPWE" LOC = "AC16";
NET "MPOE" LOC = "AD17";

NET "MPCE" DRIVE = 8;
NET "MPWE" DRIVE = 8;
NET "MPOE" DRIVE = 8;
NET "MPCE" SLEW = SLOW;
NET "MPWE" SLEW = SLOW;
NET "MPOE" SLEW = SLOW;

NET "FPGA_SYSTEMACE_CLOCK" LOC = "AH15";
NET "FPGA_SYSTEMACE_CLOCK" IOSTANDARD = LVCMOS25;