# CLOCK
NET "clk" LOC = "AJ15";
NET "clk" IOSTANDARD = LVCMOS25;


# RESET SWITCH
NET "rst" LOC = "AC11";
NET "rst" IOSTANDARD = LVCMOS25;




## PINOUT AND IO DRIVE CHARACTERISTICS FOR THE AUDIO PROCESSING
## SECTION OF THE XUP-V2PRO DEVELOPMENT SYSTEM
## REVISION C PRINTED CIRCUIT BOARD DEC 8 2004
NET "test0" LOC = "AC4";
NET "test0" IOSTANDARD = LVTTL;
NET "test0" DRIVE = 12;
NET "test0" SLEW = SLOW;

NET "eq3" LOC = "AF9";
NET "eq3" IOSTANDARD = LVCMOS25;

